.main-idc{
    background-color: rgb(40, 40, 40);
}

.title-idc{
    color: white;
}

.subtitle-idc{
    color: white;
}

.container-info-idc{
    display: flex;
    margin-top: 25px;
}

.img-idc{
    width: 400px;
    border-radius: 10px;
}

.description-idc{
    padding-left: 15px;
    font-size: 20px;
}