.li-link {
    list-style: none;
}
.category-link-nb {
    text-decoration: none;
    color: rgb(237, 193, 48);
}

.category-link-nb:hover{
    color: rgb(155, 119, 0);
}

.nav-bar {
    background-color: rgb(28, 28, 28);
}

.brand-name{
    color: rgb(199, 133, 0);
    font-size:40px;
    font-weight: 700;
    text-decoration: none;
}

.top-nav{
    display: flex;
}